.*
node_modules
package-lock.json
dist
build
*bundle*.js
third_party

/workloads/Octane/*
/workloads/ARES-6/*
/workloads/cdjs/*
/workloads/8bitbench-wasm/*
/workloads/raytrace-public-class-fields/*
/workloads/raytrace-private-class-fields/*
/workloads/code-load/*
/workloads/SunSpider
/workloads/SeaMonster
/workloads/WSL
/workloads/bomb-workers/bomb-subtests
/workloads/dotnet/build-*
/workloads/tfjs-wasm/tfjs-model-*
/workloads/hash-map/*
/workloads/doxbee-promise/*
/workloads/doxbee-async/*
/workloads/async-fs/*
/workloads/sync-fs/*
/workloads/lazy-collections/*
/workloads/js-tokens/*
/workloads/threejs/*

# Ignore everything in RexBench, then selectively un-ignore.
/workloads/RexBench/*
!/workloads/RexBench/*/
/workloads/RexBench/*/*
!/workloads/RexBench/*/benchmark.js

!benchmark.js
!/workloads/*/benchmark.js
!/**/*.md
